<div class="container mt-5">
  <h2>My Lists</h2>
  <ul>
    <div class="cards mt-5">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.img_url %>)">
          <li><%= link_to list.name, list_path(list) %></li>
        </div>
        <% end %>
    </div>




  </ul>



  <%= link_to  "Add a list", new_list_path, :class=>"btn btn-outline-primary mt-5" %>



</div>
