<div class="container mt-5">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.img_url %>)">
  <h1><%= @list.name %></h1>


  </div>

</div>
